<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js via CDN</title>
  <!-- Incluindo o Vue.js via CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <h1>${ outra }$</h1>
    <button @click="changeMessage">Clique aqui para mudar a mensagem</button>
  </div>

  <script>
    new Vue({
      el: '#app',
      delimiters: ['${', '}$'],
      data: {
        outra: 'Olá, Vue.js!'
      },
      methods: {
        changeMessage() {
          this.outra = 'Você mudou a mensagem!';
        }
      }
    });
  </script>
</body>
</html>
